<!DOCTYPE html>
<html lang="en" ng-app="kasirApp">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="bower_components/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.min.css">

  <title>LOGIN ~ Kasir Sederhana</title>
  <!-- Bower JS Script -->
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="bower_components/ng-table/dist/ng-table.min.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

  <script src="src/app.js"></script>
</head>

<body ng-controller="LoginCtrl">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>LOGIN</h2>
        <form ng-submit="onLogin($event)" action="">
          <div class="form-group">
            <label>Username</label>
            <input type="text" name="username" ng-model="user.username" class="form-control">
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" name="password" ng-model="user.password" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary" ng-click="onLogin($event)" ng-disabled="logging">
            <i class="fa fa-refresh fa-spin" ng-if="logging"></i>&nbsp;LOGIN</button>
        </form>
        <hr>
        <h4 class="text-center">
          <strong>
            <i>Kasir Sederhana ~ Skill Test Jois</i>
          </strong>
        </h4>
      </div>
    </div>
  </div>
</body>

</html>