<nav ng-controller="DropdownController as vm" class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" ng-click="vm.isCollapsed = !vm.isCollapsed" data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Kasir Sederhana
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" uib-collapse="vm.isCollapsed" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!-- <li>
          <a href="#">Link</a>
        </li> -->
        <li class="dropdown" uib-dropdown>
          <a href="#" class="dropdown-toggle" uib-dropdown-toggle data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-list"></i>&nbsp;MASTER
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" uib-dropdown-menu>
            <li>
              <a ui-sref="barang.index">
                <i class="fa fa-users"></i>&nbsp; DATA BARANG</a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="collapse navbar-collapse" uib-collapse="vm.isCollapsed" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <!-- <li>
          <a href="#">Link</a>
        </li> -->
          <li class="dropdown" uib-dropdown>
            <a href="#" class="dropdown-toggle" uib-dropdown-toggle data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-book"></i>&nbsp;TRANSACTION
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" uib-dropdown-menu>
              <li>
                <a ui-sref="penjualan.index">
                  <i class="fa fa-info"></i>&nbsp; DATA PENJUALAN</a>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown" uib-dropdown>
            <a href="#" class="dropdown-toggle" uib-dropdown-toggle data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user"></i>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" uib-dropdown-menu>
              <li>
                <a href="#">{{ user.username }}</a>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <a href="#" ng-click="onLogout()">
                  <i class="fa fa-sign-out"></i>&nbsp;Logout</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>