<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Welcom to KasirApp Sederhana!</h2>
      <h4>Kasir ini dibuat untuk Skill Test Jois Andresky</h4>
    </div>
  </div>
</div>