<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <p ng-if="!onEdit">Tambah Barang</p>
        <p ng-if="onEdit">Edit Barang {{model.nama_barang}}</p>
      </div>
      <div class="panel-body">
        <form ng-submit="onSave()">
          <div class="form-group">
            <label>Barang</label>
            <input type="text" name="name" ng-model="model.nama_barang" class="form-control">
          </div>
          <div class="form-group">
            <label>Harga Barang</label>
            <input type="number" name="harga_barang" ng-model="model.harga_barang" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary" ng-disabled="!model.nama_barang && !model.harga_barang">
            <i class="fa fa-save"></i> Simpan</button>
        </form>
      </div>
    </div>
  </div>
</div>