<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <p ng-if="!onEdit">Tambah Penjualan</p>
      </div>
      <div class="panel-body">
        <form ng-submit="onSave()">
          <div class="form-group">
            <label>Nama Produk</label>
            <input type="text" ng-model="holder.barang" placeholder="Cari Barang ..." uib-typeahead="barang as barang.nama_barang for barang in getBarang($viewValue)"
              class="form-control">
          </div>
          <div class="form-group">
            <label>Jumlah Pembelian</label>
            <input type="number" name="qty" ng-model="holder.qty" class="form-control">
          </div>
          <button type="button" ng-click="onAdd()" class="btn btn-info btn-block">Tambah Produk</button>
          <hr>
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Kode Barang</th>
                <th>Nama Barang</th>
                <th>Jumlah Pembelian</th>
                <th>Harga Satuan</th>
                <th>Total Harga</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in model.details">
                <td>{{ item.kode_barang }}</td>
                <td>{{ item.nama_barang }}</td>
                <td>{{ item.qty }}</td>
                <td>Rp {{ item.harga_barang | number }}</td>
                <td>Rp {{ item.total_harga | number }}</td>
                <td>
                  <button type="button" ng-click="onRemove($index)" class="btn btn-danger btn-xs">Hapus</button>
                </td>
              </tr>
            </tbody>
          </table>
          <h4 class="text-right">Total: Rp {{ model.total_penjualan | number }}</h4>
          <button type="submit" class="btn btn-primary" ng-disabled="model.details.length <= 0">
            <i class="fa fa-save"></i> Bayar</button>
        </form>
      </div>
    </div>
  </div>
</div>