<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Data Barang</h3>
      </div>
      <div class="panel-body">
        <!-- <h2 class="page-header">Data Barang</h2> -->
        <a ui-sref="barang.new" class="btn btn-primary">
          <i class="fa fa-plus"></i> Tambah Barang</a>
        <table ng-table="table" class="table" show-filter="true">
          <tbody ng-repeat="barang in $data" class="text-center">
            <tr>
              <td title="'Kode Barang'">{{barang.kode_barang}}</td>
              <td title="'Nama Barang'" filter="{ 'name': 'text' }">{{barang.nama_barang}}</td>
              <td title="'Harga'">Rp {{barang.harga_barang | number}}</td>
              <td title="'Actions'">
                <div class="btn-group">
                  <a ui-sref="barang.edit({id: barang.kode_barang})" class="btn btn-info btn-sm">
                    <i class="fa fa-pencil"></i>
                  </a>
                  <button class="btn btn-danger btn-sm" ng-click="onDelete(barang.kode_barang, barang)">
                    <i class="fa fa-trash"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>