<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Data Penjualan</h3>
      </div>
      <div class="panel-body">
        <!-- <h2 class="page-header">Data Penjualan</h2> -->
        <a ui-sref="penjualan.new" class="btn btn-primary">
          <i class="fa fa-plus"></i> Tambah Penjualan</a>
        <button class="btn btn-info" ng-click="getDataHarian()">
          <i class="fa fa-book"></i>&nbsp; Laporan Harian</button>
        <table ng-table="table" class="table" show-filter="true">
          <tbody ng-repeat="penjualan in $data" class="text-center">
            <tr>
              <td title="'ID Penjualan'">{{penjualan.id_penjualan}}</td>
              <td title="'Total Penjualan'">Rp {{penjualan.total_penjualan | number}}</td>
              <td title="'Dibuat'">{{penjualan.created | date: 'dd/MM/yyyy hh:mm:ss'}}</td>
              <td title="'Actions'">
                <div class="btn-group">
                  <a ui-sref="penjualan.show({id: penjualan.id_penjualan})" class="btn btn-info btn-sm">
                    <i class="fa fa-eye"></i>
                  </a>
                  <!-- <button class="btn btn-danger btn-sm" ng-click="onDelete(penjualan.kode_penjualan, penjualan)">
                    <i class="fa fa-trash"></i>
                  </button> -->
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>