<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <p ng-if="!onEdit">Detail Penjualan No: {{ model.barang.id_penjualan }}</p>
      </div>
      <div class="panel-body">
        <p>Total Penjualan: Rp {{ model.barang.total_penjualan | number }}</p>
        <p>Dibuat: {{ model.barang.created | date: 'dd/MM/yyyy hh:mm:ss' }}</p>
        <br>
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Kode Barang</th>
              <th>Nama Barang</th>
              <th>Qty</th>
              <th>Harga Barang</th>
              <th>Total</th>
            </tr>
            <tr ng-repeat="item in model.details">
              <td>{{ item.kode_barang }}</td>
              <td>{{ item.nama_barang }}</td>
              <td>{{ item.qty }}</td>
              <td>Rp {{ item.harga_barang | number }}</td>
              <td>Rp {{ item.total | number }}</td>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>